.navbar{
    height: 100px;
    background-color:#89375F;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 400;
    font-size: 60px;
    color: beige;
    text-decoration: none;
}

.navButton{
    margin-left: 20px;
    height: 50px;
    width: 90px;
    border:none;
    border-radius: 15px;
    padding: 5px;
    cursor :pointer;
    color: #ffffff;
    background-color: #B46060;
    font-size: 20px;
}